@font-face {
  font-family: 'YourFontName';
  src: url('/Billy-Regular.tff') format('truetype'); /* or format('opentype') for OTF */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Billy', sans-serif;
}


p {
  margin: 0;
}